.web-layout {
  padding: 10px;
  padding-left: 0;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  display: flex;
  color: var(--color);

  &-left {
    width: 250px;
    height: 100%;
    transition: width 0.5s;
    overflow: hidden;

    .left-bottom-btn {
      height: 40px;
      background-color: rgb(221, 218, 218);
      width: 40px;
      border-radius: 10px 0 0 10px;
      color: var(--color);
      font-size: 20px;
      .web-fun-center();
    }

    .layout-left-bottom-fixed {
      position: fixed;
      bottom: 0;
      width: 40px;
      height: 40px;
      transition: width 0.5s;

      .left-bottom-btn {
        border-radius: 0;
      }
    }

    .layout-left-bottom {
      transition: width 0.5s;
      width: 250px;
      height: 40px;
      background-color: var(--theme-views-bg);
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: end;
    }

    .layout-left-logo {
      width: 250px;
      padding: 10px 0;
      padding-left: 10px;
      color: white;
      border-bottom: 1px solid #d1cece;

      img {
        width: 40px;
        margin-right: 15px;
      }
    }
  }

  &-right {
    flex: 1;
    height: 100%;
    background-color: var(--theme-views-bg);
    border-radius: 5px 5px 5px 0;
    display: flex;
    flex-direction: column;
    // padding: 20px;
    overflow-y: auto;
    // 滚动条宽度
    &::-webkit-scrollbar {
      width: 5px;
    }
    // 滚动条轨道
    &::-webkit-scrollbar-track {
      background: rgb(239, 239, 239);
      border-radius: 2px;
    }
    // 小滑块
    &::-webkit-scrollbar-thumb {
      background: var(--theme-color);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--theme-color);
    }
  }
}
